<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="24">
<Class name="ReportZEN.menu">
<Description>
Created using the page template: Заголовок страницы</Description>
<Super>%ZEN.Component.page</Super>
<TimeCreated>62212,45592.575472</TimeCreated>

<Parameter name="APPLICATION">
<Description>
Имя приложения, которому принадлежит эта страница.</Description>
<Default>ReportZEN.ReportApplication</Default>
</Parameter>

<Parameter name="PAGENAME">
<Description>
Отображаемое имя для нового приложения.</Description>
</Parameter>

<Parameter name="DOMAIN">
<Description>
Домен, используемый для локализации.</Description>
</Parameter>

<Property name="currFormat">
<Type>%ZEN.Datatype.string</Type>
<InitialExpression>"odt"</InitialExpression>
</Property>

<XData name="Contents">
<XMLNamespace>http://www.intersystems.com/zen</XMLNamespace>
<Data><![CDATA[
<page xmlns="http://www.intersystems.com/zen">
<spacer height="25"/>
<vgroup>
<label value="Финансовые отчеты" align="center" id="yellowLabel"/>
<menu id="financialReports" layout="vertical" >
  <menuItem caption="Акт по оказанным услугам" id="rpt24" link="ReportZEN.report24.cls"/>
  <menuItem caption="Отчет по оказанным услугам" id="rpt23" link="ReportZEN.report23.cls"/> 
  <menuItem caption="Счет по оказанным услугам" id="rpt25" link="ReportZEN.report25.cls"/>  
  <menuItem caption="Настройки для отчетов" id="rptSettings" link="ReportZEN.settings.cls"/>  
</menu>
</vgroup>

</page>
]]></Data>
</XData>
</Class>
</Export>
