<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="24">
<Class name="ReportZEN.settings">
<Description>
Created using the page template: Заголовок страницы</Description>
<Super>%ZEN.Component.page</Super>
<TimeCreated>62255,15584.662999</TimeCreated>

<Parameter name="APPLICATION">
<Description>
Имя приложения, которому принадлежит эта страница.</Description>
<Default>ReportZEN.ReportApplication</Default>
</Parameter>

<Parameter name="PAGENAME">
<Description>
Отображаемое имя для нового приложения.</Description>
</Parameter>

<Parameter name="DOMAIN">
<Description>
Домен, используемый для локализации.</Description>
</Parameter>

<UDLText name="T">
<Content><![CDATA[
//zenPage.setPathWorkJasper(zenThis)

]]></Content>
</UDLText>

<XData name="Style">
<Description>
Этот блок Style содержит определение CSS стиля страницы.</Description>
<Data><![CDATA[
<style type="text/css">

body {
	font-family: "lucida sans unicode";
}

/* style for title bar */
#title {
	background: #C5D6D6;
	color: black;
	font-family: Verdana;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid black;
	text-align: center;
}
#formGroup {
	background: #C0C0C0;
	border: 1px solid darkblue;
}
#hospital {
	background: #C0C0C0;
	border: 1px solid darkblue;
}

</style>
]]></Data>
</XData>

<UDLText name="T">
<Content><![CDATA[
//,"server","pathFileJasperTemplate")

]]></Content>
</UDLText>

<XData name="Contents">
<Description>
Этот XML блок описывает содержимое этой страницы.</Description>
<XMLNamespace>http://www.intersystems.com/zen</XMLNamespace>
<Data><![CDATA[
<page xmlns="http://www.intersystems.com/zen">
<form id="myform" 
	width="60%" 
	layout="vertical"
	labelPosition="top"
	cellStyle="padding: 3px;" 
	align="center"
	>
<locatorBar id="locator">
<locatorLink caption="Меню" href="ReportZEN.menu.cls" />
</locatorBar>
<html id="title">Настройки для работы отчетов</html>

<vgroup id="formGroup" title="Настройки для работы отчетов" width="100%">

   <spacer height="10" width="100%"/>
   <hgroup align="left" > 
      <label value="Рабочая папка для работы jasper отчетов " />
      <spacer width="10"/>
      <text id="pathWorkJasper" name="pathWorkJasper" /> 
   </hgroup>
   
    <hgroup align="left"> 
      <label value="Путь, где лежат файлы xxx.jrxml,xxx.jasper и картинки " />
      <spacer width="10"/>
      <text id="pathFileJasperTemplate" name="pathFileJasperTemplate" size="50"/> 
   </hgroup>  
   
   <hgroup align="left"> 
      <label value="Путь для временных файлов отчетов" />
      <spacer width="10"/>
      <text id="pathTempFile" name="pathTempFile" size="50"/> 
   </hgroup>  

   <hgroup align="left"> 
      <label value="URL для web" />
      <spacer width="10"/>
      <text id="urlWeb" name="urlWeb" size="100"/> 
   </hgroup>  

   <hgroup align="left"> 
     <spacer height="25"/>
     <label value="Формат печати для финансовых отчетов " align="center" />
     <spacer width="10"/>
     <dataCombo id="formatJasperReport" 
       name="formatJasperReport"
       columnName="Формат"
       queryClass="Report.JasperReportTune" 
       queryName="queryFormats"
	   dropdownWidth="450"
	   editable="false"
	   required="false"
	   buttonCaption="Выберите формат"
	   onchange="zenPage.setValueParam(zenThis);"
	   displayColumns="1"
	   choiceColumn="1"
	   auxColumn="1"
	   valueColumn="1" 
    />
  </hgroup>
      <button id="save" caption="Сохранить" onclick="zenPage.saveData(zenPage)"  align="center"/>
 </vgroup>

</form>
</page>
]]></Data>
</XData>

<Method name="%OnBeforeCreatePage">
<ClassMethod>1</ClassMethod>
<ReturnType>%Status</ReturnType>
<Implementation><![CDATA[
	if '$data(^Settings("server","formatJasperReport")) do ##class(Report.JasperReportTune).fillFormats()
	quit $$$OK
]]></Implementation>
</Method>

<Method name="%OnAfterCreatePage">
<ReturnType>%Status</ReturnType>
<Implementation><![CDATA[
	if $IsObject(%page) {
		for id="pathWorkJasper","pathFileJasperTemplate","pathTempFile","urlWeb","formatJasperReport" {
		    set ctrl=%page.%GetComponentById(id) 
		    if $IsObject(ctrl) {
			    set value=%page.getNodeSettings("server", id)
			    if id="urlWeb"&&(value="") set value=..getUrlWebDefault() do ..setNodeSettings("server", "urlWeb", value)
			    set ctrl.value=value
		    }
		}
	}
	quit $$$OK
]]></Implementation>
</Method>

<Method name="setValueParam">
<FormalSpec>ctrl</FormalSpec>
<Language>javascript</Language>
<ClientMethod>1</ClientMethod>
<Implementation><![CDATA[
	var nodeMain="server";
	var node=ctrl.getProperty("name");
	if ((nodeMain==null)||(nodeMain=="")||(node==null)||(node=="")) return;
	var value=ctrl.getValue();
	if ((value != null)&&(value != this.getNodeSettings(nodeMain, node))) this.setNodeSettings(nodeMain, node, value);
]]></Implementation>
</Method>

<Method name="getNodeSettings">
<ClassMethod>1</ClassMethod>
<FormalSpec>nodeMain:%String,node:%String</FormalSpec>
<ReturnType>%String</ReturnType>
<ZenMethod>1</ZenMethod>
<Implementation><![CDATA[
	if $get(nodeMain)="" set nodeMain="server"
	quit $select($get(node)'="":$get(^Settings(nodeMain,node)),1:"")
]]></Implementation>
</Method>

<Method name="setNodeSettings">
<ClassMethod>1</ClassMethod>
<FormalSpec>nodeMain:%String,node:%String,value:%String</FormalSpec>
<ReturnType>%Status</ReturnType>
<ZenMethod>1</ZenMethod>
<Implementation><![CDATA[
	if $get(nodeMain)="" set nodeMain="server"
	set ^Settings(nodeMain,node)=value 
	quit $$$OK
]]></Implementation>
</Method>

<Method name="saveData">
<ClassMethod>1</ClassMethod>
<FormalSpec>page:%ZEN.Component.page</FormalSpec>
<ReturnType>%Status</ReturnType>
<ZenMethod>1</ZenMethod>
<Implementation><![CDATA[
	set ok=$$$OK
	try {
		if $IsObject(page) {
	       kill vr
	       for id="pathWorkJasper","pathFileJasperTemplate","pathTempFile","urlWeb","formatJasperReport" set vr(id)=""
	       set id=""
	       for {
	         set id=$order(vr(id)) if id="" quit
	         set ctrl=page.%GetComponentById(id) 
		     if '$IsObject(ctrl) continue
		     set value=page.%GetValueById(id)
		     if value="" continue 
		     set ^Settings("server",id)=value 
	       }
	       &js<alert("Данные сохранены успешно");>
		}
		
	} catch(exception) {
		Set ok=exception.AsStatus()
	}
	quit ok
]]></Implementation>
</Method>

<Method name="getUrlWebDefault">
<ClassMethod>1</ClassMethod>
<Implementation><![CDATA[
 ;set portSuperServer=##class(Report.JasperReportTune).getPortSuperServer()
 set webServerPort=##class(Report.JasperReportTune).getWebServerPort()
 quit "http://localhost:"_webServerPort_"/csp/"_$zu(5)_"/"
]]></Implementation>
</Method>

<Method name="getCSP">
<ClassMethod>1</ClassMethod>
<Implementation><![CDATA[
 quit "data"
 //quit "bion"
]]></Implementation>
</Method>
</Class>
</Export>
